.chart{
    display: flex;
    flex-direction: column;
    gap: 12px;
    .chartTitle{
        display: grid;
        grid-template-columns: 80% 20%;
        select{
            background: $color-bg-primary;
            text-align: center;
            border-radius: $border-radius-sm;
            border: 1px solid $color-border-light;
        }
    }
    #chart {
    width: 100%;
    height: 400px !important;
    max-height: 400px;
    }
    .chart-container {
    position: relative;
    height: 400px;
    width: 100%;
    }
}