header{
    @include flex-center;
    position: relative;
    .headerTitle{
        display: flex;
        flex-direction: column;
        align-items: center;
        h1{
            color: $color-text-primary;
        }
        h2{
            color: $color-text-muted;
            font-size: $font-size-base;
            font-weight: $font-weight-regular;
        }
    }
    svg{
        position: absolute;
        right: 0;
        width: 38px;
        fill: $color-text-green;
        border: 1px solid $color-border-light;
        border-radius: $border-radius-xl;
        padding: 4px;
    }
}